[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ivonet/Desktop/xfce4-session-logout.desktop]
row=1
col=1

[usb]
row=3
col=0

[2602ffe2-0407-487b-8e03-544877f1156a]
row=0
col=0

[c4a5b388-056d-40cd-aa96-71fb8a90a664]
row=1
col=0

[backup]
row=4
col=0

[cdrom]
row=2
col=0

[/]
row=5
col=0

[/home/ivonet]
row=0
col=1

